<div class="reveal__header missing-confirmation">
  <h3 class="reveal__title">
    <%= t "decidim.suggestions.suggestions.organization_suggestions_settings.create.modal_title" %>
  </h3>
</div>
<p><%= organization_suggestions_settings_validation_message(nil, 'create') %></p>
