<ul class="tags tags--suggestion">
  <li><%= link_to translated_attribute(resource.type.title), suggestions_path(filter: { type: [resource.type.id] }) %></li>
  <li><%= link_to translated_attribute(resource.scope_name), suggestions_path(filter: { scope_id: [resource.scope&.id] }) %></li>
  <% if resource.area %>
    <li><%= link_to translated_attribute(resource.area_name), suggestions_path(filter: { area_id: [resource.area.id] }) %></li>
  <% end %>
</ul>
